@{
    ViewData["Title"] = "Início";
}

<div class="row">
    <div class="col align-self-center">
        <h2 class="display-4">Exemplo de autenticação</h2>
    </div>
</div>

<div class="row">
    <div class="col align-self-center">
        <p>Aplicação de exemplo utilizando vários provedores de autenticação:</p>
    </div>
</div>

<div class="row">
    <div class="col align-self-center">
        <ul>
            <li>
                <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura/_wiki/wikis/Wiki_Arquitetura.wiki/91/Sefaz-Identity"
                   title="Link para a documentação do SEFAZ Identity">SEFAZ Identity</a>
            </li>
            <li>
                <a href="https://manual-roteiro-integracao-login-unico.servicos.gov.br/pt/stable/iniciarintegracao.html"
                   title="Link para a documentação do Login Único Federal">Login Único Federal</a>
            </li>
            <li>
                <a href="https://idp.sp.gov.br/"
                   title="Página de divulgação do IDP.SP">IDP.SP</a>
            </li>
        </ul>
    </div>
</div>